* {
  font-family: 'Times New Roman';
}

html {
    height: 100vh;
  }
  
   body {
    background: darkgrey url("./image/background.jpg") no-repeat center/1920px 1080px;   
    height: 95vh;
    width: 95vw;
  }
  
  #title {
    margin: auto;
    margin-top: 1.875em; 
    line-height: 0;
    border: 1px solid #404040;
    background-color: #666;
    width: 31em;
    padding-bottom: .625em; 
    -webkit-box-shadow: -1px -2px 10px 4px #404040 inset;
       -moz-box-shadow: -1px -2px 10px 4px #404040 inset;
            box-shadow: -1px -2px 10px 4px #404040 inset;
    -webkit-border-radius: 1em;
       -moz-border-radius: 1em;
            border-radius: 1em;
    border: 1px solid white;
  }

  /* .title-div {
    margin: auto;
    margin-top: 1.875em; 
    line-height: 0;
    border: 1px solid #404040;
    background-color: #666;
    width: 31em;    
  } */
  
  /* formerly h1 */
  h1 {
    position: relative;
    font-size: 4em;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 0 2px lime;
    z-index: 2;
  }

  .msg-div-style {
    position: absolute;
    margin-top: -4.5em;
    margin-left: 2em;
    width: 27em;
    height: 4em;
    line-height: 0;
    /* border: 1px solid #404040; */
    background-color: #666;
    /* z-index:3; */
    visibility: hidden;
    /* border: initial; */
  }


  .msg-style {
    margin-top: 1.25em;
    font-size: 1.5em;
    text-decoration: initial;
    text-shadow: initial;
    /* color: rgb(247, 251, 5); */
    opacity: 1;
    color: yellow;
  }

  .unhide-msg-div {
    visibility: visible;
    z-index: 3;
  }

  .animate {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  }
  /* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {opacity: .9;}
  to {opacity: 0;}
}

/* Standard syntax */
@keyframes example {
  from {opacity:.9;}
  to {opacity: 0;}
}

 #selectPlayer {
    position: relative;
    line-height: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.75em; 
    color: white;
    text-align: center;
    width: 21em; 
    height: 5em; 
    z-index: -1;
  }
  
  button {
    font-size: 1em; 
    color: white;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
    background-color: #666;
    -webkit-box-shadow: -1px -2px 10px 4px #404040 inset;
       -moz-box-shadow: -1px -2px 10px 4px #404040 inset;
            box-shadow: -1px -2px 10px 4px #404040 inset;
    outline-color: lime;
  }
  
  button:hover {
    background-color: lime;
  }
  
  button:active {
    text-shadow: 2px 2px 2px lime;
    border-top: 2px solid green;
    border-right: 2px solid lime;
    border-bottom: 2px solid lime;
    border-left: 2px solid green;
  }
  
  button:focus {
    background-color: lime;
  }
  
  #addSpace {
    width: .5em; 
    display: inline-block;
  }

  #scoreboard {
    margin-top: .8em;
    margin-left: 2.5em;
    height: 1.25em;
    width: 16em;
    background: rgba(83, 172, 86, 0.75);
    -webkit-border-radius: .5em;
       -moz-border-radius: .5em;    
            border-radius: .5em;
  }

  .hideScore {
    visibility: hidden;
  }

  .score {
    display: inline-block;
    width: 32%;
    height: 1.4em;
    margin-top: .65em;
  }
  
 #background {
    margin-top: 0em;
    width: 31em; 
    height: 31em; 
    border: 1px solid #404040;
    background-color: #666;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: -2px -3px 20px 14px #404040 inset;
       -moz-box-shadow: -2px -3px 20px 14px #404040 inset;
            box-shadow: -2px -3px 20px 14px #404040 inset;
    -webkit-border-radius: 1em;
       -moz-border-radius: 1em;    
            border-radius: 1em;
    border: 1px solid white;
  }
  
 #board {
    width: 28em; 
    height: 28em; 
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 1px solid white;
    -webkit-border-radius: .5em;
       -moz-border-radius: .5em;    
            border-radius: .5em;
  }
  
  .tile {   
    font-size: 8em;
    text-align: center;  
    display: inline-block;
    width: 1.14em; 
    height: 1.14em; 
    cursor: pointer;
    -webkit-box-shadow: -1px -2px 10px 4px #404040 inset;
       -moz-box-shadow: -1px -2px 10px 4px #404040 inset;
            box-shadow: -1px -2px 10px 4px #404040 inset;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: white;
    text-shadow: 2px 0 2px lime;
  }

  .flash {
    color: lime;
    text-shadow: 2px 0px 2px white;
  }


  @media screen and ( min-height: 1081px ) {
    body {
      -webkit-background-size: cover;
         -moz-background-size: cover;
           -o-background-size: cover;
              background-size: cover;
    }
  }

  /* Smallest devices */
@media (max-width: 575px) { 
  body {
    font-size: 10px !important;
  }
  .tile {
    width: 1.115em; 
    height: 1.115em; 
  }  
}

/* Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) { 
  body {
    font-size: 12px !important;
  }
  .tile {
    width: 1.125em; 
    height: 1.12em; 
  }  
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) { 
  body {
    font-size: 14px !important;
  }
  .tile {
    width: 1.131em; 
    height: 1.13em; 
  }
}

/* Large devices (desktops, 992px and up)  */
@media (min-width: 992px) {
  body {
    font-size: 16px !important;
  }
  table {
    padding-left: 1px;
  }
}